python-dotenv
flasgger
Flask
flask-socketio
python-socketio[client]
gunicorn
gevent
gevent-websocket
openai
weaviate-client==3.26.7
llama-index-core
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-weaviate==0.1.5
Babel
google-cloud-translate